const char *ssid = "YOUR SSID";
const char *password = "YOUR PASSWORD";
const char *mackerelApiKey = "YOUR API Key";
const char *mackerelHostId = "HostId of this device";
const char *akashiCompanyCode = "CompanyCode";
const char *akashiToken = "Token";
